{
    "presets": [ //present is a collection of code transform plugins
        ["env", {
            "targets": {
                "browsers": [
                    "last 5 versions", //targeting the last 5 version of browsers
                    "ie >=8"
                ]
            }
        }]
    ]
}